.accordion-star-icon {
  position: absolute;
  margin-left: 90%;
}

@media (max-width: 1024px) {
  .accordion-star-icon {
      margin-left: 85%;
    }
}

@media (max-width: 768px) {
  .accordion-star-icon {
    margin-left: 80%;
  }
}

@media (max-width: 480px) {
  .accordion-star-icon {
    margin-left: 75%;
  }
}

@media (max-width: 369px) {
  .accordion-star-icon {
    margin-left: 70%;
  }
}